/*@font-face {
    font-family: Overpass;
    src: url(https://fonts.google.com/specimen/Overpass);
}
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');


body {
    background-color: black;
}

.card-container {
    width: 345px;
    height: auto;
    margin-left: 25%;
    padding: 2%;
    background-color: hsl(215, 25%, 13%);
    border-radius: 20px;
}

#ratingIcon {
    width: 15px;
    height: 15px;
    background-color: hsl(210, 19%, 18%);
    padding: 20px;
    border-radius: 40px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400, 700;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400, 700;
}

.ratingBtn {
    width: 55px;
    height: 55px;
    background-color: hsl(210, 19%, 18%);
    border: none;
    border-radius: 40px;
    font-family: 'Overpass', sans-serif;  
    color: hsl(217, 12%, 63%); 
    margin: 10px 10px 10px 0px;
    
    
}

#submitBtn {
    display: block;
    background-color: hsl(25, 97%, 53%);
    font-family: "Overpass", sans-serif;
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}

.center {
    text-align: center;
}