/*@font-face {
    font-family: Overpass;
    src: url(https://fonts.google.com/specimen/Overpass);
}
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');


body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#card-container {
    width: 345px;
    height: auto;
    margin: 15% 0px 0px 0;
    padding: 2%;
    background-color: hsl(215, 25%, 13%);
    border-radius: 20px;
    align-self: center;
    position: absolute;
}

#ratingIcon {
    width: 15px;
    height: 15px;
    background-color: hsl(210, 19%, 18%);
    padding: 20px;
    border-radius: 40px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400, 700;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400, 700;
}

.ratingBtn {
    width: 55px;
    height: 55px;
    background-color: hsl(210, 19%, 18%);
    border: none;
    border-radius: 40px;
    font-family: 'Overpass', sans-serif;  
    color: hsl(217, 12%, 63%); 
    margin: 10px 10px 10px 0px;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.5s;
    
    
}

#submitBtn {
    display: block;
    background-color: hsl(25, 97%, 53%);
    font-family: "Overpass", sans-serif;
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.ratingBtn:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.ratingBtn:focus {
    background-color: hsl(216, 12%, 54%);
    color: hsl(0, 0%, 100%);
}

#submitBtn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

#thankYou-container {
    display: flex;
    flex-direction:column;
    width: 345px;
    height: auto;
    padding: 2%;
    background-color: hsl(215, 25%, 13%);
    border-radius: 20px;
    margin-top: 15%;
    align-self: center;
    align-items: center;
    visibility: hidden;
    position: relative;
}

#thankYou-container img {
    height: auto;
    width:fit-content;
    margin-bottom: 25px;
}

#thankYou-container #selectedRating {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(210, 19%, 18%) ;
    color: hsl(25, 93%, 56%);
    border-radius: 40px;
    padding: 10px 15px 5px 15px;
    font-weight: 300, 700;
}

#thankYou-container h2 {
    font-family: 'Overpass', sans-serif;
    color:  hsl(0, 0%, 100%);
    margin-bottom: 2px;
}

#thankYou-container p {
    color: hsl(216, 12%, 54%);
    text-align: center;
}



@media screen and (max-width: 375px) {

    .card-container {
        width: 271px;
        margin: 35% 0px 0px 4%;
        padding: 6%;
    }

    #ratingIcon {
        width: 12px;
        height: 12px;
        padding: 12px;
        border-radius: 35px;
    }

    h1 {
        font-weight: 356, 623;
        font-size: 25px;

    }

    p {
        font-size: 13px;
        font-weight: 356, 623;

    }

    .ratingBtn {
        width: 42px;
        height: 42px;
        border-radius: 35px;
        margin: 9px 9px 9px 0px;
    }
}
    
